<ul class="nav align-items-center bg-white border-bottom">
  <li class="nav-item p-3 text-center">
    Animais
  </li>
</ul>

<div class="d-flex justify-content-between m-3">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-secondary" (click)="reload()" ngbTooltip="Recarregar listagem">
      <i class="fas fa-sync"></i>
    </button>
    <button type="button" class="btn btn-secondary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" ngbTooltip="Abrir filtro">
      <i class="fas fa-filter"></i>
    </button>
  </div>
  <div>
    <button type="button" class="btn btn-success" (click)="openCreateAnimalModal()" ngbTooltip="Adicionar animal">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<div class="m-3">
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <form [formGroup]="animalFiltersForm" (ngSubmit)="onSubmitToFilter()">
      <div class="card">
        <div class="card-header">
          Filtros
        </div>
        <div class="card-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="name">Nome</label>
              <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="species">Especie</label>
              <input type="text" class="form-control" id="species" formControlName="species">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="name">Raça</label>
              <input type="text" class="form-control" id="breed" formControlName="breed">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="active">Status</label>
              <select class="form-select" id="active" formControlName="active">
                <option value="true">Ativo</option>
                <option value="false">Inativo</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <button type="button" class="btn btn-outline-secondary" (click)="clearFilter()">Limpar Filtro</button>
          <button type="submit" class="btn btn-primary" [disabled]="!animalFiltersForm.valid">Filtrar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card m-3">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover m-0">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Especie</th>
          <th scope="col">Raça</th>
          <th scope="col">Data de nascimento</th>
          <th scope="col">Status</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animals?.data">
          <td>{{ animal?.id }}</td>
          <td>{{ animal?.name }}</td>
          <td>{{ animal?.species }}</td>
          <td>{{ animal?.breed }}</td>
          <td>{{ animal?.birth_date }}</td>
          <td><span [ngClass]="animal?.active ? 'badge text-bg-success' : 'badge text-bg-danger'">{{ animal?.active ? 'Ativo' : 'Desativo' }}</span></td>
          <td>
            <button type="button" class="btn btn-outline-success btn-sm" [routerLink]="['/animals/' + animal?.id]" ngbTooltip="Visulizar animal"><i class="fa-solid fa-eye"></i></button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="openDeleteAnimalModal(animal)" ngbTooltip="Excluir animal"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div [formGroup]="animalOptionsForm" class="card-footer d-flex justify-content-between align-middle">
    <span class="align-middle">Pagina {{ animals?.current_page }} de {{ animals?.last_page }}</span>
    <ngb-pagination [collectionSize]="animals?.last_page * 10" [page]="animalOptionsForm.controls.page.value" (pageChange)="animalOptionsForm.controls.page.setValue($event)" [maxSize]="5" [boundaryLinks]="true" size="sm"></ngb-pagination>
    <div class="col-auto">
      <select class="form-select form-select-sm" aria-label="Default select example" id="per_page" formControlName="per_page">
        <option *ngFor="let option of perPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<ng-template #contentCreate let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Criar animais</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="animalForm" (ngSubmit)="onSubmitToCreate()">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="name">Nome</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="species">Especie</label>
        <input type="text" class="form-control" id="species" formControlName="species" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="breed">Raça</label>
        <input type="text" class="form-control" id="breed" formControlName="breed" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="sex">Sexo</label>
        <select class="form-select" aria-label="Default select example" formControlName="sex">
          <option value="macho">Macho</option>
          <option value="fame">Femea</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="birth_date">Data de nascimento</label>
        <input type="date" class="form-control" id="birth_date" formControlName="birth_date" required>
      </div>

      <div class="row mb-3" formArrayName="owners">
        <label class="form-label" for="birth_date">Data de nascimento</label>
        <div class="col-10">
          <div class="row" *ngFor="let ownerForm of ownerForms.controls; let i = index" [formGroupName]="i">
            <div class="col-10">
              <select class="form-select" aria-label="Default select example" formControlName="owner_id">
                <option *ngFor="let owner of owners" value="{{ owner.id }}">{{ owner.name }}</option>
              </select>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-danger" ngbTooltip="Excluir dono" (click)="removeOwner(i)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-success" ngbTooltip="Adicionar dono" (click)="addOwner()">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="active">Status</label>
        <div class="mb-3 form-check form-switch">
          <label class="form-label" for="active">{{ animalForm.controls.active.value ? 'Ativo' : 'Inativo' }}</label>
          <input type="checkbox" class="form-check-input" id="active" role="switch" formControlName="active">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-success" (click)="modal.close('Save click')" [disabled]="!animalForm.valid">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Exclusão de animal</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Deseja mesmo excluir esse animal?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Não</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Sim</button>
  </div>
</ng-template>
