<ul class="nav align-items-center bg-white border-bottom">
  <li class="nav-item p-3 text-center">
    <a [routerLink]="['/owners']">Donos</a> / {{ owner?.id }}
  </li>
</ul>

<!-- {{ owner | json }} -->

<div class="row m-0">
  <div class="col-md-8">
    <div class="card m-1 mt-3 p-3">
      <div class="row">
        <div class="col-md-2 text-center">
          <span class="fa-stack fa-lg fs-1">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-user fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-md-8">
          <strong>Id:</strong> {{ owner?.id }}<br>
          <strong>Nome:</strong> {{ owner?.name }}<br>
          <strong>Email:</strong> {{ owner?.email }}<br>
          <strong>CPF:</strong> {{ owner?.person_id }}<br>
          <strong>Telefone:</strong> {{ owner?.phone_number }}<br>
          <strong>Celular:</strong> {{ owner?.cell_phone_number }}<br>
          <strong>Cep:</strong> {{ owner?.zip_code }}<br>
          <strong>Estado:</strong> {{ owner?.state }}<br>
          <strong>Cidade:</strong> {{ owner?.city }}<br>
          <strong>Bairro:</strong> {{ owner?.neighborhood }}<br>
          <strong>Rua:</strong> {{ owner?.street }}<br>
          <strong>Numero:</strong> {{ owner?.house_number }}<br>
          <strong>Referencia:</strong> {{ owner?.address_reference }}<br>
          <strong>Data de nascimento:</strong> {{ owner?.birth_date | date: 'dd/MM/yyyy' }}<br>
          <strong>Status:</strong> {{ owner?.active ? 'Ativo' : 'Inativo' }}<br>
        </div>
        <div class="col-md-2 text-end">
          <button type="button" class="btn btn-success btn-sm rounded-circle" (click)="openUpdateOwnerModal()" ngbTooltip="Editar dono"><i class="fa-solid fa-pen"></i></button>
          <button type="button" class="btn btn-outline-danger btn-sm rounded-circle" (click)="openDeleteOwnerModal(owner)" ngbTooltip="Excluir dono"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-1 mt-3">
      <div class="list-group list-group-flush">
        <div class="card-header">
          Animais
        </div>
        <div *ngFor="let animal of owner?.animals" type="button" [routerLink]="['/animals/' + animal?.id]" class="list-group-item">
          <strong>Id:</strong> {{ animal?.id }}<br>
          <strong>Nome:</strong> {{ animal?.name }}<br>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {{ owner?.interections | json }} -->

<div class="row m-0">
  <div class="col-md-8">
    <div class="card m-1 mt-3">
      <div class="list-group list-group-flush">
        <div class="card-header">
          Historico
        </div>
        <div *ngFor="let interection of owner?.interections" class="list-group-item">
          <div class="row" *ngIf="interection?.type == 'create'">
            <div class="col-md-6">
              <h4>{{ interection?.message?.title }}</h4>
              <p>{{ interection?.message?.message }}</p>
              <p>Criado em {{ interection?.created_at | date : 'dd/MM/yyyy' }} por {{ interection?.created_by?.name }}</p>
            </div>
          </div>
          <div class="row" *ngIf="interection?.type == 'message'">
            <div class="col-md-10">
              <h4>{{ interection?.message?.title }}</h4>
              <p>{{ interection?.message?.message }}</p>
              <p>Criado em {{ interection?.created_at | date : 'dd/MM/yyyy' }} por {{ interection?.created_by?.name }}</p>
            </div>
            <div class="col-md-2 text-end">
              <button type="button" class="btn btn-primary btn-sm rounded-circle" (click)="printDiv(interection?.message?.body)" ngbTooltip="Salvar documento da mensagem"><i class="fa-solid fa-print"></i></button>
              <button type="button" class="btn btn-success btn-sm rounded-circle" (click)="openCreateMessageModal(interection?.message?.id)" ngbTooltip="Editar mensagem"><i class="fa-solid fa-pen"></i></button>
              <button type="button" class="btn btn-outline-danger btn-sm rounded-circle" (click)="openDeleteMessageModal(interection?.message)" ngbTooltip="Excluir mensagem"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
          <div class="row" *ngIf="interection?.type == 'schedule'">
            <div class="col-md-10">
              <p>
                <span class="h4">Agendamento</span>
                <span class="badge rounded-pill text-bg-success" [ngClass]="interection?.schedule?.finished ? 'text-bg-success' : 'text-bg-danger'">{{ interection?.schedule?.finished ? 'Finalizado' : 'Aberto' }}</span>
                <span class="badge rounded-pill text-bg-success" [ngClass]="interection?.schedule?.answered ? 'text-bg-success' : 'text-bg-danger'" *ngIf="interection?.schedule?.finished">{{ interection?.schedule?.answered ? 'Realizado' : 'Não Realizado' }}</span>
              </p>
              <p>{{ interection?.schedule?.title }}</p>
              <p>Veterinário: {{ interection?.schedule?.user?.name }}</p>
              <p>Data agendada: {{ interection?.schedule?.schedule_at | date : 'dd/MM/yyyy hh:mm' }}</p>
              <p *ngIf="interection?.schedule?.finished">Data realizada: {{ interection?.schedule?.finish_at | date : 'dd/MM/yyyy hh:mm' }}</p>
              <p>Criado em {{ interection?.created_at | date : 'dd/MM/yyyy' }} por {{ interection?.created_by?.name }}</p>
            </div>
            <div class="col-md-2 text-end">
              <button type="button" class="btn btn-outline-primary btn-sm rounded-circle" (click)="printDiv(interection?.schedule?.response_body)" *ngIf="interection?.schedule?.finished" ngbTooltip="Salvar documento da finalização do agendamento"><i class="fa-solid fa-print"></i></button>
              <button type="button" class="btn btn-success btn-sm rounded-circle" (click)="openFinishScheduleModal(interection?.schedule?.id)" *ngIf="!interection?.schedule?.finished" ngbTooltip="Finalizar agendamento"><i class="fa-solid fa-check"></i></button>
              <button type="button" class="btn btn-primary btn-sm rounded-circle" (click)="printDiv(interection?.schedule?.body)" ngbTooltip="Salvar documento do agendamento"><i class="fa-solid fa-print"></i></button>
              <button type="button" class="btn btn-success btn-sm rounded-circle" (click)="openCreateScheduleModal(interection?.schedule?.id)" ngbTooltip="Editar agendamento"><i class="fa-solid fa-pen"></i></button>
              <button type="button" class="btn btn-outline-danger btn-sm rounded-circle" (click)="openDeleteScheduleModal(interection?.schedule)" ngbTooltip="Excluir agendamento"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-1 mt-3">
      <div class="list-group list-group-flush">
        <div class="card-header">
          Ações
        </div>
        <div class="list-group-item" type="button" (click)="openCreateMessageModal()">
          Mensagem
        </div>
        <div class="list-group-item" type="button" (click)="openCreateScheduleModal()">
          Agendamento
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentUpdateOwner let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Atualizar dono</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="ownerForm" (ngSubmit)="onSubmitToUpdateOwner()">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="name">Nome</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
      <div class="mb-3">
        <label class="form-label" for="person_id">CPF</label>
        <input type="text" class="form-control" id="person_id" formControlName="person_id">
      </div>
      <div class="mb-3">
        <label class="form-label" for="phone_number">Telefone</label>
        <input type="text" class="form-control" id="phone_number" formControlName="phone_number">
      </div>
      <div class="mb-3">
        <label class="form-label" for="cell_phone_number">Celular</label>
        <input type="text" class="form-control" id="cell_phone_number" formControlName="cell_phone_number">
      </div>
      <div class="mb-3">
        <label class="form-label" for="zip_code">CEP</label>
        <input type="text" class="form-control" id="zip_code" formControlName="zip_code">
      </div>
      <div class="mb-3">
        <label class="form-label" for="state">Estado</label>
        <input type="text" class="form-control" id="state" formControlName="state">
      </div>
      <div class="mb-3">
        <label class="form-label" for="city">Cidade</label>
        <input type="text" class="form-control" id="city" formControlName="city">
      </div>
      <div class="mb-3">
        <label class="form-label" for="neighborhood">Bairro</label>
        <input type="text" class="form-control" id="neighborhood" formControlName="neighborhood">
      </div>
      <div class="mb-3">
        <label class="form-label" for="street">Rua</label>
        <input type="text" class="form-control" id="street" formControlName="street">
      </div>
      <div class="mb-3">
        <label class="form-label" for="house_number">Numero</label>
        <input type="text" class="form-control" id="house_number" formControlName="house_number">
      </div>
      <div class="mb-3">
        <label class="form-label" for="address_reference">Referencia</label>
        <input type="text" class="form-control" id="address_reference" formControlName="address_reference">
      </div>
      <div class="mb-3">
        <label class="form-label" for="birth_date">Data de nascimento</label>
        <input type="date" class="form-control" id="birth_date" formControlName="birth_date">
      </div>
      <div class="row mb-3" formArrayName="animals">
        <label class="form-label" for="birth_date">Animais</label>
        <div class="col-10">
          <div class="row" *ngFor="let animalForm of animalForms.controls; let i = index" [formGroupName]="i">
            <div class="col-10">
              <select class="form-select" aria-label="Default select example" formControlName="animal_id">
                <option *ngFor="let animal of animals" value="{{ animal.id }}">{{ animal.name }}</option>
              </select>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-danger" ngbTooltip="Excluir animal" (click)="removeAnimal(i)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-success" ngbTooltip="Adicionar animal" (click)="addAnimal()">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="active">Status</label>
        <div class="mb-3 form-check form-switch">
          <label class="form-label" for="active">{{ ownerForm.controls.active.value ? 'Ativo' : 'Inativo' }}</label>
          <input type="checkbox" class="form-check-input" id="active" role="switch" formControlName="active">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-success" (click)="modal.close('Save click')" [disabled]="!ownerForm.valid">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDeleteOwner let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Exclusão de dono</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Deseja mesmo excluir esse dono?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Não</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Sim</button>
  </div>
</ng-template>

<ng-template #contentCreateMessage let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Criar mensagem</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmitToCreateMessage(messageForm.value.id ?? null)">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="title">Titulo</label>
        <input type="text" class="form-control" id="title" formControlName="title" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="message">Mensagem</label>
        <input type="text" class="form-control" id="message" formControlName="message">
      </div>
      <div class="mb-3">
        <label class="form-label" for="animal_id">Animais</label>
        <select class="form-select" aria-label="Default select example" formControlName="animal_id">
          <option *ngFor="let animal of animals" value="{{ animal.id }}">{{ animal.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="user_id">Veterinário</label>
        <select class="form-select" aria-label="Default select example" formControlName="user_id">
          <option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</option>
        </select>
      </div>
      <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-success" (click)="modal.close('Save click')" [disabled]="!messageForm.valid">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDeleteMessage let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Exclusão de mensagem</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Deseja mesmo excluir esse mensagem?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Não</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Sim</button>
  </div>
</ng-template>

<ng-template #contentCreateSchedule let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Criar agendamento</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmitToCreateSchedule(scheduleForm.value.id ?? null)">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="title">Titulo</label>
        <input type="text" class="form-control" id="title" formControlName="title" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="animal_id">Animal</label>
        <select class="form-select" aria-label="Default select example" formControlName="animal_id">
          <option *ngFor="let animal of animals" value="{{ animal.id }}">{{ animal.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="user_id">Veterinário</label>
        <select class="form-select" aria-label="Default select example" formControlName="user_id">
          <option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="schedule_at">Data de agendamento</label>
        <input type="date" class="form-control" id="schedule_at" formControlName="schedule_at" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="time">Data de agendamento</label>
        <ngb-timepicker id="time" formControlName="time" required></ngb-timepicker>
      </div>
      <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
    </div>
    <div class="modal-body" *ngIf="scheduleForm.value.finished">
      <div class="mb-3">
        <label class="form-label" for="response_message">Mensagem</label>
        <input type="text" class="form-control" id="response_message" formControlName="response_message" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="answered">Agendamento foi realizado?</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="answered" formControlName="answered" checked>
          <label class="form-check-label" for="answered">{{ scheduleForm.value.answered ? 'Realizado' : 'Não Realizado' }}</label>
        </div>
      </div>
      <angular-editor formControlName="response_body" [config]="editorConfig"></angular-editor>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-success" (click)="modal.close('Save click')" [disabled]="!scheduleForm.valid">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #contentFinishSchedule let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Finaliza agendamento</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmitToFinishSchedule(scheduleForm.value.id)">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="response_message">Mensagem</label>
        <input type="text" class="form-control" id="response_message" formControlName="response_message" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="answered">Agendamento foi realizado?</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="answered" formControlName="answered" checked>
          <label class="form-check-label" for="answered">{{ scheduleForm.value.answered ? 'Realizado' : 'Não Realizado' }}</label>
        </div>
      </div>
      <angular-editor formControlName="response_body" [config]="editorConfig"></angular-editor>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-success" (click)="modal.close('Save click')" [disabled]="!scheduleForm.valid">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDeleteSchedule let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Exclusão de agendamento</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Deseja mesmo excluir esse agendamento?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Não</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Sim</button>
  </div>
</ng-template>

<app-toast aria-live="polite" aria-atomic="true"></app-toast>
