<ul class="nav align-items-center bg-white border-bottom">
  <li class="nav-item p-3 text-center">
    <a [routerLink]="['/animals']">Animais</a> / {{ animal?.id }}
  </li>
</ul>

<!-- {{ animal | json }} -->

<div class="row m-0">
  <div class="col-md-8">
    <div class="card m-1 mt-3 p-3">
      <div class="row">
        <div class="col-md-2 text-center">
          <span class="fa-stack fa-lg fs-1">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-user fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-md-8">
          <strong>Id:</strong> {{ animal?.id }}<br>
          <strong>Nome:</strong> {{ animal?.name }}<br>
          <strong>Especie:</strong> {{ animal?.species }}<br>
          <strong>Raça:</strong> {{ animal?.breed }}<br>
          <strong>Sexo:</strong> {{ animal?.sex }}<br>
          <strong>Data de nascimento:</strong> {{ animal?.birth_date | date: 'dd/MM/yyyy' }}<br>
          <strong>Status:</strong> {{ animal?.active ? 'Ativo' : 'Inativo' }}<br>
        </div>
        <div class="col-md-2 text-end">
          <button type="button" class="btn btn-success btn-sm rounded-circle" (click)="openUpdateAnimalModal()" ngbTooltip="Editar animal"><i class="fa-solid fa-pen"></i></button>
          <button type="button" class="btn btn-outline-danger btn-sm rounded-circle" (click)="openDeleteAnimalModal(animal)" ngbTooltip="Excluir animal"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-1 mt-3">
      <div class="list-group list-group-flush">
        <div class="card-header">
          Donos
        </div>
        <div *ngFor="let owner of animal?.owners" type="button" [routerLink]="['/owners/' + owner?.id]" class="list-group-item">
          <strong>Id:</strong> {{ owner?.id }}<br>
          <strong>Nome:</strong> {{ owner?.name }}<br>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {{ animal?.interections | json }} -->

<div class="row m-0">
  <div class="col-md-8">
    <div class="card m-1 mt-3">
      <div class="list-group list-group-flush">
        <div class="card-header">
          Historico
        </div>
        <div *ngFor="let interection of animal?.interections" class="list-group-item">
          <div class="row" *ngIf="interection?.type == 'create'">
            <div class="col-md-6">
              <h4>{{ interection?.message?.title }}</h4>
              <p>{{ interection?.message?.message }}</p>
              <p>Criado em {{ interection?.created_at | date : 'dd/MM/yyyy' }} por {{ interection?.created_by?.name }}</p>
            </div>
          </div>
          <div class="row" *ngIf="interection?.type == 'message'">
            <div class="col-md-10">
              <h4>{{ interection?.message?.title }}</h4>
              <p>{{ interection?.message?.message }}</p>
              <p>Criado em {{ interection?.created_at | date : 'dd/MM/yyyy' }} por {{ interection?.created_by?.name }}</p>
            </div>
            <div class="col-md-2 text-end">
              <button type="button" class="btn btn-primary btn-sm rounded-circle" (click)="printDiv(interection?.message?.body)" ngbTooltip="Salvar documento da mensagem"><i class="fa-solid fa-print"></i></button>
              <button type="button" class="btn btn-success btn-sm rounded-circle" (click)="openCreateMessageModal(interection?.message?.id)" ngbTooltip="Editar mensagem"><i class="fa-solid fa-pen"></i></button>
              <button type="button" class="btn btn-outline-danger btn-sm rounded-circle" (click)="openDeleteMessageModal(interection?.message)" ngbTooltip="Excluir mensagem"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
          <div class="row" *ngIf="interection?.type == 'schedule'">
            <div class="col-md-10">
              <p>
                <span class="h4">Agendamento</span>
                <span class="badge rounded-pill text-bg-success" [ngClass]="interection?.schedule?.finished ? 'text-bg-success' : 'text-bg-danger'">{{ interection?.schedule?.finished ? 'Finalizado' : 'Aberto' }}</span>
                <span class="badge rounded-pill text-bg-success" [ngClass]="interection?.schedule?.answered ? 'text-bg-success' : 'text-bg-danger'" *ngIf="interection?.schedule?.finished">{{ interection?.schedule?.answered ? 'Realizado' : 'Não Realizado' }}</span>
              </p>
              <p>{{ interection?.schedule?.title }}</p>
              <p>Veterinário: {{ interection?.schedule?.user?.name }}</p>
              <p>Data agendada: {{ interection?.schedule?.schedule_at | date : 'dd/MM/yyyy hh:mm' }}</p>
              <p *ngIf="interection?.schedule?.finished">Data realizada: {{ interection?.schedule?.finish_at | date : 'dd/MM/yyyy hh:mm' }}</p>
              <p>Criado em {{ interection?.created_at | date : 'dd/MM/yyyy' }} por {{ interection?.created_by?.name }}</p>
            </div>
            <div class="col-md-2 text-end">
              <button type="button" class="btn btn-outline-primary btn-sm rounded-circle" (click)="printDiv(interection?.schedule?.response_body)" *ngIf="interection?.schedule?.finished" ngbTooltip="Salvar documento da finalização do agendamento"><i class="fa-solid fa-print"></i></button>
              <button type="button" class="btn btn-success btn-sm rounded-circle" (click)="openFinishScheduleModal(interection?.schedule?.id)" *ngIf="!interection?.schedule?.finished" ngbTooltip="Finalizar agendamento"><i class="fa-solid fa-check"></i></button>
              <button type="button" class="btn btn-primary btn-sm rounded-circle" (click)="printDiv(interection?.schedule?.body)" ngbTooltip="Salvar documento do agendamento"><i class="fa-solid fa-print"></i></button>
              <button type="button" class="btn btn-success btn-sm rounded-circle" (click)="openCreateScheduleModal(interection?.schedule?.id)" ngbTooltip="Editar agendamento"><i class="fa-solid fa-pen"></i></button>
              <button type="button" class="btn btn-outline-danger btn-sm rounded-circle" (click)="openDeleteScheduleModal(interection?.schedule)" ngbTooltip="Excluir agendamento"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-1 mt-3">
      <div class="list-group list-group-flush">
        <div class="card-header">
          Ações
        </div>
        <div class="list-group-item" type="button" (click)="openCreateMessageModal()">
          Mensagem
        </div>
        <div class="list-group-item" type="button" (click)="openCreateScheduleModal()">
          Agendamento
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentUpdateAnimal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Atualizar animal</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="animalForm" (ngSubmit)="onSubmitToUpdateAnimal()">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="name">Nome</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="species">Especie</label>
        <input type="text" class="form-control" id="species" formControlName="species" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="breed">Raça</label>
        <input type="text" class="form-control" id="breed" formControlName="breed" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="sex">Sexo</label>
        <select class="form-select" aria-label="Default select example" formControlName="sex">
          <option value="macho">Macho</option>
          <option value="fame">Femea</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="birth_date">Data de nascimento</label>
        <input type="date" class="form-control" id="birth_date" formControlName="birth_date" required>
      </div>

      <div class="row mb-3" formArrayName="owners">
        <label class="form-label">Donos</label>
        <div class="col-10">
          <div class="row" *ngFor="let ownerForm of ownerForms.controls; let i = index" [formGroupName]="i">
            <div class="col-10">
              <select class="form-select" aria-label="Default select example" formControlName="owner_id">
                <option *ngFor="let owner of owners" value="{{ owner.id }}">{{ owner.name }}</option>
              </select>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-danger" ngbTooltip="Excluir dono" (click)="removeOwner(i)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-success" ngbTooltip="Adicionar dono" (click)="addOwner()">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="active">Status</label>
        <div class="mb-3 form-check form-switch">
          <label class="form-label" for="active">{{ animalForm.controls.active.value ? 'Ativo' : 'Inativo' }}</label>
          <input type="checkbox" class="form-check-input" id="active" role="switch" formControlName="active">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-success" (click)="modal.close('Save click')" [disabled]="!animalForm.valid">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDeleteAnimal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Exclusão de animal</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Deseja mesmo excluir esse animal?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Não</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Sim</button>
  </div>
</ng-template>

<ng-template #contentCreateMessage let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Criar mensagem</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmitToCreateMessage(messageForm.value.id ?? null)">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="title">Titulo</label>
        <input type="text" class="form-control" id="title" formControlName="title" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="message">Mensagem</label>
        <input type="text" class="form-control" id="message" formControlName="message">
      </div>
      <div class="mb-3">
        <label class="form-label" for="owner_id">Donos</label>
        <select class="form-select" aria-label="Default select example" formControlName="owner_id">
          <option *ngFor="let owner of owners" value="{{ owner.id }}">{{ owner.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="user_id">Veterinário</label>
        <select class="form-select" aria-label="Default select example" formControlName="user_id">
          <option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</option>
        </select>
      </div>
      <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-success" (click)="modal.close('Save click')" [disabled]="!messageForm.valid">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDeleteMessage let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Exclusão de mensagem</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Deseja mesmo excluir esse mensagem?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Não</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Sim</button>
  </div>
</ng-template>

<ng-template #contentCreateSchedule let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Criar agendamento</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmitToCreateSchedule(scheduleForm.value.id ?? null)">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="title">Titulo</label>
        <input type="text" class="form-control" id="title" formControlName="title" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="owner_id">Donos</label>
        <select class="form-select" aria-label="Default select example" formControlName="owner_id">
          <option *ngFor="let owner of owners" value="{{ owner.id }}">{{ owner.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="user_id">Veterinário</label>
        <select class="form-select" aria-label="Default select example" formControlName="user_id">
          <option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="schedule_at">Data de agendamento</label>
        <input type="date" class="form-control" id="schedule_at" formControlName="schedule_at" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="time">Data de agendamento</label>
        <ngb-timepicker id="time" formControlName="time" required></ngb-timepicker>
      </div>
      <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
    </div>
    <div class="modal-body" *ngIf="scheduleForm.value.finished">
      <div class="mb-3">
        <label class="form-label" for="response_message">Mensagem</label>
        <input type="text" class="form-control" id="response_message" formControlName="response_message" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="answered">Agendamento foi realizado?</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="answered" formControlName="answered" checked>
          <label class="form-check-label" for="answered">{{ scheduleForm.value.answered ? 'Realizado' : 'Não Realizado' }}</label>
        </div>
      </div>
      <angular-editor formControlName="response_body" [config]="editorConfig"></angular-editor>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-success" (click)="modal.close('Save click')" [disabled]="!scheduleForm.valid">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #contentFinishSchedule let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Finaliza agendamento</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmitToFinishSchedule(scheduleForm.value.id)">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="response_message">Mensagem</label>
        <input type="text" class="form-control" id="response_message" formControlName="response_message" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="answered">Agendamento foi realizado?</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="answered" formControlName="answered" checked>
          <label class="form-check-label" for="answered">{{ scheduleForm.value.answered ? 'Realizado' : 'Não Realizado' }}</label>
        </div>
      </div>
      <angular-editor formControlName="response_body" [config]="editorConfig"></angular-editor>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-success" (click)="modal.close('Save click')" [disabled]="!scheduleForm.valid">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDeleteSchedule let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Exclusão de agendamento</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Deseja mesmo excluir esse agendamento?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Não</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Sim</button>
  </div>
</ng-template>

<app-toast aria-live="polite" aria-atomic="true"></app-toast>
