<ul class="nav align-items-center bg-white border-bottom">
  <li class="nav-item p-3 text-center">
    Interação
  </li>
</ul>

<div class="d-flex justify-content-between m-3">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-tertiary" (click)="reload()" ngbTooltip="Recarregar listagem">
      <i class="fas fa-sync"></i>
    </button>
    <button type="button" class="btn btn-tertiary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" ngbTooltip="Abrir filtro">
      <i class="fas fa-filter"></i>
    </button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="openCreateInterectionModal()" ngbTooltip="Adicionar usuario">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<div class="m-3">
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <form [formGroup]="interectionFiltersForm" (ngSubmit)="onSubmitToFilter()">
      <div class="card">
        <div class="card-header">
          Filtros
        </div>
        <div class="card-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="name">Nome</label>
              <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="email">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="active">Status</label>
              <select class="form-select" id="active" formControlName="active">
                <option value="true">Ativo</option>
                <option value="false">Inativo</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <button type="button" class="btn btn-outline-tertiary" (click)="clearFilter()">Limpar Filtro</button>
          <button type="submit" class="btn btn-primary" [disabled]="!interectionFiltersForm.valid">Filtrar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card m-3">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover m-0">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let interection of interections?.data">
          <td>{{ interection?.id }}</td>
          <td>{{ interection?.name }}</td>
          <td>{{ interection?.email }}</td>
          <td><span [ngClass]="interection?.active ? 'badge text-bg-primary' : 'badge text-bg-danger'">{{ interection?.active ? 'Ativo' : 'Desativo' }}</span></td>
          <td>
            <button type="button" class="btn btn-outline-success btn-sm" [routerLink]="['/interections/' + interection?.id]" ngbTooltip="Editar usuario"><i class="fa-solid fa-pen"></i></button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="openDeleteInterectionModal(interection)" ngbTooltip="Excluir usuario"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div [formGroup]="interectionOptionsForm" class="card-footer d-flex justify-content-between align-middle">
    <span class="align-middle">Pagina {{ interections?.current_page }} de {{ interections?.last_page }}</span>
    <ngb-pagination [collectionSize]="interections?.last_page * 10" [page]="interectionOptionsForm.controls.page.value" (pageChange)="interectionOptionsForm.controls.page.setValue($event)" [maxSize]="5" [boundaryLinks]="true" size="sm"></ngb-pagination>
    <div class="col-auto">
      <select class="form-select form-select-sm" aria-label="Default select example" id="per_page" formControlName="per_page">
        <option *ngFor="let option of perPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<ng-template #contentCreate let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Criar usuario</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="interectionForm" (ngSubmit)="onSubmitToCreate()">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="name">Nome</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Senha</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password_confirmation">Confirmar Senha</label>
        <input type="password" class="form-control" id="password_confirmation" formControlName="password_confirmation" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="active">Status</label>
        <div class="mb-3 form-check form-switch">
          <label class="form-label" for="active">{{ interectionForm.controls.active.value ? 'Ativo' : 'Inativo' }}</label>
          <input type="checkbox" class="form-check-input" id="active" role="switch" formControlName="active">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')" [disabled]="!interectionForm.valid">Salvar</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Exclusão de usuario</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Deseja mesmo excluir esse usuario?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Não</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Sim</button>
  </div>
</ng-template>
