<nav class="d-flex flex-column flex-shrink-0 sticky-top bg-light" style="width: 4.5rem;">
  <a class="d-block p-2 link-dark text-decoration-none text-center bg-primary" data-bs-toggle="tooltip" data-bs-placement="right">
    <!-- <i class="fa-solid fa-shield-cat text-white"></i> -->
    <img class="img-responsive" src="/assets/logo-ceunsp.png" alt="image" style="width: 2.5rem;">
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center sticky-offset">
    <li class="nav-item">
      <a class="nav-link py-3 border-bottom rounded-0" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
        <i class="fa-solid fa-gauge"></i>
      </a>
    </li>
    <li>
      <a class="nav-link py-3 border-bottom rounded-0" [routerLink]="['/interections']" [routerLinkActive]="['active']">
        <i class="fa-solid fa-calendar"></i>
      </a>
    </li>
    <li>
      <a class="nav-link py-3 border-bottom rounded-0" [routerLink]="['/animals']" [routerLinkActive]="['active']">
        <i class="fa-solid fa-paw"></i>
      </a>
    </li>
    <li>
      <a class="nav-link py-3 border-bottom rounded-0" [routerLink]="['/owners']" [routerLinkActive]="['active']">
        <i class="fa-solid fa-user"></i>
      </a>
    </li>
    <li>
      <a class="nav-link py-3 border-bottom rounded-0" [routerLink]="['/users']" [routerLinkActive]="['active']">
        <i class="fa-solid fa-gear"></i>
      </a>
    </li>
  </ul>
</nav>
